
.container{
    border-width:5px;
    border-style:solid;
    border-color:rgb(233, 186, 114);
    margin: 0%;
}
.heading{
    background-color: rgb(233, 186, 114);
    padding: 0%;
    margin: 0%;
    font-size: 20px;
}