.railways-info{
    font-size: 25px;
}


body {
    background-image: url('Indian_Railways.jpg');
    padding: 25px;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    }
.info{
    background-color: rgb(162, 196, 227);
    opacity : 0.9;
    /* padding: 20px; */
    /* margin: 20px; */
    border-radius: 20px;
    display: block;
    margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px;

}
.center {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border-radius: 5px;
  }